<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
        "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">

<mapper namespace="com.soustock.stockquote.mapper.StockInfoMapper">
    <resultMap id="stockInfoResultMap" type="com.soustock.stockquote.povo.StockInfoVo">
        <result property="stockCode" column="stock_code" javaType="string" jdbcType="VARCHAR" />
        <result property="stockName" column="stock_name" javaType="string" jdbcType="VARCHAR" />
        <result property="pyName" column="py_name" javaType="string" jdbcType="VARCHAR" />
        <result property="listDate" column="list_date" javaType="string" jdbcType="VARCHAR" />
        <result property="market" column="market" javaType="string" jdbcType="VARCHAR" />
    </resultMap>

    <sql id="Base_Column_List" >
        stock_code, stock_name, py_name, list_date, market
    </sql>

    <select id="getStockInfoByStockCode" parameterType="java.lang.String"
            resultMap="stockInfoResultMap">
        select <include refid="Base_Column_List" />
        from stock_info
        where stock_code=#{stockCode}
    </select>

    <insert id="insertStockInfo" parameterType="com.soustock.stockquote.povo.StockInfoVo">
        INSERT INTO stock_info(<include refid="Base_Column_List" />)
        VALUES ( #{stockCode,jdbcType=VARCHAR},
                  #{stockName,jdbcType=VARCHAR},
                  #{pyName,jdbcType=VARCHAR},
                  #{listDate,jdbcType=VARCHAR},
                  #{market,jdbcType=VARCHAR}
                )
    </insert>

    <select id="getStockInfoCountOfMarket" parameterType="java.lang.String" resultType="java.lang.Long">
        select count(*) from stock_info where market=#{market}
    </select>

    <insert id="updateStockInfo" parameterType="com.soustock.stockquote.povo.StockInfoVo">
        update stock_info set stock_name=#{stockName,jdbcType=VARCHAR},
            py_name=#{pyName,jdbcType=VARCHAR},
            list_date=#{listDate,jdbcType=VARCHAR},
            market=#{market,jdbcType=VARCHAR}
        where stock_code=#{stockCode}
    </insert>

    <select id="getStockInfosOfMarket" parameterType="java.lang.String"
            resultMap="stockInfoResultMap">
        select <include refid="Base_Column_List" />
        from stock_info
        where market=#{market}
        order by stock_code asc
    </select>

    <select id="getStockInfosOfLikeStr" parameterType="java.lang.String"
            resultMap="stockInfoResultMap">
        select <include refid="Base_Column_List" />
        from stock_info
        where stock_code like CONCAT(#{likeStr},'%') or stock_name like CONCAT(#{likeStr},'%') or py_name like CONCAT(#{likeStr},'%')
        order by stock_code asc
        limit 0,20
    </select>

</mapper>
